.app-container {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  color: black;
  height: 70vh;
}

.controls {
  flex: 1;
}
.gameboard {
  flex: 3;
}
.show-border {
  border: 2px solid green;
}
.simon {
  font-size: 25px;
}

.start-game {
  margin: 10px;
  align-self: flex-end;
}

.score {
  flex: 1
}