.app-container {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  color: black;
  height: 100vh;
}

.controls {
  flex: 1;
}
.gameboard {
  flex: 3;
  display: flex;
   flex-direction: column; 
  /* justify-content: center; */
  align-items: center;
}

.italicized {
  font-style: italic;
}
.nav {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.nav-item {
  padding: 10px;
}
.show-border {
  border: 2px solid green;
}
.simon {
  font-size: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.start-game {
  margin: 10px;
  font-size: 25px;
}

.score {
  flex: 1
}